.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    color: white;
}

body {
  background-image: url("darkforest.jpg");
  background-repeat: repeat-x;
  background-position: right top;
  background-attachment: fixed;

  color: #E6DEDC;

}

.thing {
  background-color: rgba(67, 70, 75, .75);
  color: #E6DEDC;
}

.thing2 {
  background-color: #12222F

}

.thing3 {
  color: #E6DEDC;
}
